[core]
    editor = vim
    excludesfile = ~/.gitignore

[merge]
    ff = false

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[alias]
    co = checkout
    st = status
    ad = add
    ci = commit
    cia = commit --amend -C HEAD
    di = diff
    br = branch
    lo = log --graph --date=short --decorate
    lg = log --graph --date=short --decorate --branches --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

