"*":
  "atom-typescript": {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-line"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  "document-outline":
    showByDefault: false
  editor:
    fontFamily: "Ricty"
    invisibles:
      cr: " "
      eol: " "
      space: " "
      tab: ">"
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "highlight-line": {}
  "highlight-selected": {}
  linter: {}
  "linter-csslint": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jshint": {}
  "linter-jsxhint": {}
  "linter-less": {}
  "linter-tslint": {}
  "linter-ui-default":
    panelHeight: 56
    tooltipFollows: "Keyboard"
  "one-dark-ui": {}
  react: {}
  tabs: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
