"*":
  editor:
    fontFamily: "Ricty"
    lineHeight: 1.4
    showInvisibles: true
    showIndentGuide: true
    softWrap: true
    invisibles:
      eol: " "
      space: " "
      tab: ">"
      cr: " "
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "linter-jshint"
    ]
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  welcome:
    showOnStartup: false
  linter: {}
  "linter-csslint": {}
  "linter-jshint": {}
  "linter-less": {}
  "linter-tslint": {}
  react: {}
  "linter-jsxhint": {}
  "atom-typescript": {}
  "tree-view": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
".python.regexp.source":
  editor:
    tabLength: 4
".html.php.text":
  editor:
    tabLength: 4
