"*":
  "atom-typescript": {}
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "seti-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Ricty"
    invisibles:
      cr: " "
      eol: " "
      space: " "
      tab: ">"
    lineHeight: 1.4
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  linter: {}
  "linter-csslint": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jshint": {}
  "linter-jsxhint": {}
  "linter-less": {}
  "linter-tslint": {}
  react: {}
  "seti-syntax": {}
  "seti-ui":
    compactView: true
    fileIcons: false
    font: "Default Atom Font"
  "tree-view": {}
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
