# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# '.workspace':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#

'body':
    'cmd-+': 'unset!'
    'cmd--': 'unset!'
    'cmd-0': 'unset!'
    'cmd-=': 'unset!'
    'cmd-_': 'unset!'
    'ctrl-v': 'core:page-down'
    'alt-v': 'core:page-up'

'.editor:not(.mini)':
    'alt-cmd-l': 'editor:auto-insert'

'.autocomplete-plus input.hidden-input':
    'enter': 'autocomplete-plus:confirm'
    'ctrl-p': 'autocomplete-plus:select-previous'
    'ctrl-n': 'autocomplete-plus:select-next'
