# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#   'prefix': 'log'
#   'body': 'console.log $1'
#

## Python
'.source.python':
  'python template':
    'prefix': 'template'
    'body': '# -*- coding: utf-8 -*-\n\nif __name__ == \'__main__\':\n'

## HTML
'.text.html':
  'html template':
    'prefix': 'template'
    'body': '''
      <!DOCTYPE html>
      <html lang="ja">
      <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="">
        <script src=""></script>
      </head>
      <body>
        $0
      </body>
      </html>
    '''

## CSS
'.source.css':
  'css template':
    'prefix': 'template'
    'body': '''
      @charset "utf-8";
      /* @import "reset.css"; */

      body {
        color: #333;
        font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
      }

      p {
        line-height: 1.4;
      }
    '''

## PHP
'.source.php':
  'pre dump':
    'prefix': 'predump'
    'body': '''
      echo \'<pre>\';
      var_dump($1);
      echo \'</pre>\';
    '''
  'error log':
    'prefix': 'log'
    'body': 'error_log(print_r($1, true), 0);\n'
